// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
// End Reset

// Layout Common
body{
  margin-top: $nav_height;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.primary{
  background-color: $primary_color;
}

.secundary{
  background-color: $secundary_color;
}

section{
  padding: 50px 0;
}

h2{
  margin-bottom: 50px;
  color: $main_text_color;
  font-size: 30px;
  font-weight: $main_text_weigth;
}

hr{
  color: $main_text_color;
}

.cta{
  @include cta-text;
}

// End Layout Common

// Buttons Styling
.btn{
  @include reset-link;
  color: $secundary_color;

  @include button;

  img{
    @include button-logos;
  }

  &:hover{
    transform: scale(1.2);
    transition: 0.2s;
  }
}
// End Buttons Styling
