// Navigation Bar
nav {
  @include flex-row;
  @include fixed-nav;
  align-items: center;
  justify-content: space-between;
  height: $nav_height;
  background-color: $secundary_color;
  z-index: 1000000;

  .logo{
    flex-basis: 50%;
  }

  .navbar ul{
    @include flex-row;
    @include reset-list;

    i {
      margin-left: 10px;
      font-size: 15px;
    }
  }

  .navbar a{
    @include reset-link;
    color: $main_text_color;
    font-weight: $main_text_weigth;
    padding: 15px;
  }
}
// End Navigation Bar

// Hero
.hero {
  @include flex-row;
  width: 100%;
  margin: 60px auto;

  // Text Section
  .text{
    width: 50%;
    color: $main_text_color;

    h1{
      font-size: 55px;
      line-height: 80px;
    }

    p{
      font-size: 27px;
      line-height: 40px;
      margin: 30px 0;
    }

  .ctas{
    margin-top: 60px;
  }

  }
  // End Text Section

  // Image Section
  .image-container{
    width: 48%;
    margin-left: 2%;

    img{
      width: 100%;
    }
  }
  // End Image Section

}
// End Hero
