// Brand Colors
$primary_color: #fee7d1;
$secundary_color: #fff;
$accent: #2d4792;
$main_text_color: #58402d;
// End Brand Colors

// Typography
$main_text_weigth: 800;
$text_weigth: 400;
// End Typography

// Height
$nav_height: 80px;

$section_margin: 25px;
